<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
  <add name="EmployeeDepartmentContext" connectionString="data source=DESKTOP-A3F76NG;initial catalog=MentorEmployeeDepartmentCodeFirst;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>